@tailwind base;
@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		@apply text-dark-100;
	}
}

@tailwind components;
@tailwind utilities;
@layer utilities {
	.checkboxActive {
		@apply border-[6px] border-primary-100 dark:border-primary-100;
	}
	.checkboxNoActive {
		@apply border-2 border-gray-accent dark:border-black-dark-2;
	}

	.image-container {
		width: 100%;
		position: unset !important;
	}

	.image-container .image {
		object-fit: contain;
		width: 100% !important;
		position: relative !important;
		height: unset !important;
	}
}
